- function pairUp(list) {
-   return list.reduce(function(memo, article, i) {
-     if (i % 2 === 0) memo.push([article, false]);
-     else memo[memo.length - 1][1] = article;
-     return memo;
-   }, []);
- }

- function simpleDate(date) {
  - var month = date && ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'][date.getMonth()];
  - return date && [date.getDay(), month, date.getFullYear()].join(' ');
- }
