.Nav
  form.Subscriber
    h4 Get new articles by email
    input(name='email' placeholder='enter your email address')
    a.Button Subscribe
      span.Button-sub (it's free!)
  section.Recent
    h4 Recent Articles
    each article in collections.articles.slice(0, 3)
      a(href='/' + article.path) #{article.title}
