include _lib

doctype html
html
  head
    title= title
    meta(name='description', content= description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet' type='text/css' href='../styles/global.css')
    link(rel='stylesheet' type='text/css' href='../styles/grid.css')
    link(rel='stylesheet' href='http://yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css')

  body.Article
    header.SmallHeader
      .row
        a(href='/')
          h1.SmallHeader-logo PlayfulJS

    .row
      .col.nine
        h2= title
        p.Article-date= simpleDate(date)
        main.Article-contents!= contents

      .col.three
        +Subscriber
        +PrevNext(locals)
        +Recent

    script(src='http://yandex.st/highlightjs/8.0/highlight.min.js')
    script hljs.initHighlightingOnLoad();
