include _lib

doctype html
html
  head
    title= title
    meta(name='description', content= description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,700')
    link(rel='stylesheet' type='text/css' href='styles/global.css')
    link(rel='stylesheet' type='text/css' href='styles/grid.css')
    link(rel='stylesheet' href='http://yandex.st/highlightjs/8.0/styles/monokai_sublime.min.css')
  body
    header.Header
      .row
        h1.Header-logo Playful
          span JS
      .row
          .Header-avatar
          .Header-contents!= contents
          .Header-actions
            span Want a playful session at your conference?&nbsp;
            span Like to geek out about node.js or HTML5?&nbsp;
            a(href='mailto:hunter@hunterloftis.com') Email me!

    .row.Article-list
      .col.nine
        each pair in pairUp(collections.articles)
          .row
            +ArticleColumn(pair[0])
            +ArticleColumn(pair[1])

      .col.three
        +Subscriber
        +Recent

    script(src='http://yandex.st/highlightjs/8.0/highlight.min.js')
    script hljs.initHighlightingOnLoad();
    +Analytics