.Article
  padding-bottom 40px

.Article-date
  font-style italic
  text-align left
  font-size 0.9rem

.Article-list
  padding-bottom 40px

.Article-contents
  code
    padding 10px
    display block

  img
    display block
    width 100%
