@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,700');

base-color = #eee
alt-color = #000000
splash-color = #E33258

light-color = #eee
mid-color = #ccc
dark-color = #334

*
  box-sizing border-box

html
  font-size 14px
  line-height 1.5

body
  background base-color
  color dark-color
  font-family 'Open Sans', helvetica, arial, sans-serif
  font-weight 300
  margin 0
  padding 0

h1, h2, h3, h4, h5
  font-family 'Open Sans'
  font-weight 300
  color dark-color

h1
  padding 0
  margin 0

h2
  font-size 2rem
  margin 25px 0 10px 0

h4
  font-size 1.1rem
  margin 15px 0 5px 0

a
  color splash-color
  text-decoration none

input
  color dark-color
  font-size 0.9rem
  padding 8px
  border-radius 3px
  background #fff
  border solid 1px mid-color

