.Button
  font-size 0.9rem
  padding 8px 10px
  border-radius 3px
  border solid 1px mid-color
  background light-color
  display block
  cursor pointer
  color #666
  font-weight 700

.Button-sub
  font-size 0.9rem
  padding 0
  margin 3px 0 3px 5px
  font-weight 500
  color #333
