.Header
  background #777
  color #fff
  padding 30px 0

.Header-logo
  text-align center
  font-family 'Satisfy'
  font-size 4rem
  line-height 1.5

.Header-avatar
  width 128px
  height 128px
  border-radius 50%
  background #333
