.icon
  width 20px
  height 16px
  display inline-block
  margin 0 0 0 8px
  position relative
  top 3px

  span
    display none

.icon.twitter
  background url('images/icon-twitter.png') center center no-repeat
  background-size 20px 16px

.icon.email
  background url('images/icon-email.png') center center no-repeat
  background-size 20px 14px
