.Recent
  padding-top 10px
  text-align center

  a
    display block
    text-align left
    padding 10px 10px 0 10px
    margin 10px 0 0 0
    color splash-color
    border-top dashed 1px splash-color

  a:hover
    text-decoration underline
