.Subscriber
  padding-top 10px
  text-align center

  label, input, button
    width 100%

  input
    font-size 0.9rem
    padding 5px
    border-radius 3px
    background #fff
    border solid 1px #ccc

